.navbar {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    flex-direction: row;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.featuredphoto {
  display: flex;
  justify-content: center; /* centers horizontally */
  padding: 20px;           /* spacing around the image */
}

.featuredphoto img {
  max-width: 100%; /* keeps it responsive */
  height: auto;
}

hr {
  border: none;
  border-top: 3px solid black;
  margin: 0;
}
