@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

.navbar {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 20px;
    border-color: rgb(255, 255, 255);
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
}

body {
    font-family: "Alexandria", sans-serif;;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.featuredphoto {
  display: flex;
  justify-content: center; 
  padding: 20px; 
  margin-bottom: 250px;          
}

.featuredphoto img {
  max-width: 100%; 
  height: auto;
}


hr {
  border: none;
  border-top: 7px solid rgb(115, 115, 115);
  margin: 0;
}

.pastproject{
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin-top: 250px;
  flex-direction: column;
  margin-bottom: 250px;
}

.project{
  padding:50px;
  text-align: center;
  max-width: auto;
  max-height: auto;
}

.project p,a{
  font-size: 30px;
}

.projectrow {
  display: flex;              
  justify-content: center;    
  gap: 20px;                  
}



.about{
  margin:2px;
}

.skillsandabouttext{
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1250px;
}

.skillsandabout{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px;
}

.footer{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  padding:35px;
}

.footercontent{
  margin-left: 20px;
  margin-right: 40px;
  display:flex;
  font-size: 35px;
  flex-direction: column;
  justify-content: center;
}

.footercontent p,a{
  margin: 2px;
  line-height: 1.2;
}

.navbar a{
  color: #737373;              
  text-decoration: none;    
  margin: 0 20px;           
  font-size: 50px;  
  justify-content: space-around; 
  align-items: center;       
}

.navbar {
  display: flex;          
  justify-content: space-between; 
  align-items: center;
}
