.navbar {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 20px;
    border-color: rgb(255, 255, 255);
    flex-direction: row;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.featuredphoto {
  display: flex;
  justify-content: center; 
  padding: 20px; 
  margin-bottom: 250px;          
}

.featuredphoto img {
  max-width: 100%; 
  height: auto;
}

hr {
  border: none;
  border-top: 7px solid rgb(115, 115, 115);
  margin: 0;
}

.pastproject{
  background-color: #f9f9f9;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 250px;
}

.project{
  padding:50px;
  text-align: center;
  max-width: 825px;
}

p {
  font-size: 50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.about{
  margin:5px;
}

.skillsandabouttext{

}
